<%- include('../partials/cards/editHeader') %>

<form action="/decks/<%=deck._id%>/cards/<%= card._id %>?_method=PUT" method="POST">
   front: <textarea name="front" value="<%= card.front %>" required></textarea>
   back:  <textarea name="back" value="<%= card.back %>" required></textarea><br>
    <button type="submit">Update Card</button>    
</form>

<div id="delete-card">
    <% if (user?._id.equals(card.user)) { %>
        <form action="/decks/<%=deck._id%>/cards/<%=card._id%>?_method=DELETE" method="POST">
            <button id="deletebutton" type="submit">DELETE CARD</button>
        </form>
    <% } %>
</div>


<%- include('../partials/footer') %>