<%- include('../partials/cards/playHeader') %>

<h1>play deck</h1>

<div class="card">
    <div id="card-front" > <%= card.front %> </div> <div id="card-back" > <%= card.back %> </div>
</div>

<div id="cardcontrols">
    <div id="play-last">
        <form action="/decks/<%= deck._id %>/cards/<%= card._id %>/play/last" method="GET">
            <button id="play-last-button" type="submit">Go to Last Card</button>
        </form>
    </div>
    <button id="flip-card-button">Flip Card</button>
    <div id="play-next">
        <form action="/decks/<%= deck._id %>/cards/<%= card._id %>/play/next" method="GET">
            <button id="play-next-button" type="submit">Go to Next Card</button>
        </form>
    </div>
</div>

<br><br><h2>Card Notes</h2>
<form id="add-card-comment-form" method="POST"
    action="/decks/<%= deck._id %>/cards/<%= card._id %>/comments">
    <label>Note:</label>
    <textarea name="content" required></textarea>
    <input type="submit" value="Add Note">
</form>


<% if (card.comments.length) { %> 
    <% card.comments.forEach(function(com) { %>
        <div id="card-comment">
                <h4> <img id="commentpfp" src="<%= com.userAvatar %>" alt="avatar" referrerpolicy="no-referrer"> <%= com.userName %> </h4>
                <p> <%= com.content %> </p>
                <%= com.createdAt %> 
                <div id="delete-card-comment">
                    <% if (user?._id.equals(com.user)) { %>
                        <form action="/decks/<%=deck._id%>/cards/<%= card._id%>/comments/<%=com._id%>?_method=DELETE" method="POST">
                            <button type="submit">DELETE Note</button>
                        </form>
                    <% } %>
                </div>
            <% }) %>
<% } else { %>
    <h4>No Comments Yet</h4>
<% } %>
</div>

<%- include('../partials/footer') %>