<%- include('../partials/header') %>

<h1>My Decks</h1>
  
<table id="deck-list">
  <thead>
    <tr>
      <th>Deck Name</th>
      <th>Created</th>
      <th>User</th>
      <th>Notes</th>
      <th>Edit Deck Details</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% decks.forEach(function(d) { %>
      <tr>
        <td><a href="/decks/<%= d._id %>"> <%= d.title %> </a></td>
        <td><%= d.createdAt.toLocaleDateString() %></td>
        <td class="deck-user"><img alt="avatar" src="<%= d.userAvatar %>" referrerpolicy="no-referrer" ><%= d.userName %></td>
        <td><%= d.notes %></td>
        <% if (user?._id.equals(d.user)) { %>
        <td><a href="/decks/<%= d._id %>/edit">Edit Details</a></td>
        <% } %>
        <td>
          <div id="play">
                <form action="/decks/<%= d._id %>/play" method="GET">
                    <button type="submit">PLAY</button>
                </form>
          </div>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>


<%- include('../partials/footer') %>

