<%- include('../partials/decks/showHeader') %>

<!-- <%=deck.title%>
<h3> <img src="<%=deck.userAvatar %>" alt="avatar" referrerpolicy="no-referrer"> <%= deck.userName %> </h3> -->
<!-- add a link to the user page when its added -->
<h1><%= deck.title%> </h1>
<h3>By: <%= deck.userName %></h3>
<img alt="avatar" src="<%= deck.userAvatar %>" referrerpolicy="no-referrer" >
<h3>notes: <%= deck.notes%> </h3>
<div id="adjustbuttons">
<div id="play">
    <form action="/decks/<%= deck._id %>/play" method="GET">
        <button id="playbutton" type="submit">PLAY</button>
    </form>
</div>



<% if (user?._id.equals(deck.user)) { %>
    <div id="edit">
        <form action="/decks/<%= deck._id %>/edit" method="GET">
            <button id="playbutton" type="submit">Edit Deck Details</button>
        </form>
    </div>
    <div id="delete-deck">
        <form action="/decks/<%=deck._id%>?_method=DELETE" method="POST">
            <button id="deletebutton" type="submit">DELETE DECK</button>
        </form>
    </div>
    <% } %>
</div>
<!-- <div id="delete-deck">
    <% if (user?._id.equals(deck.user)) { %>
        <form action="/decks/<%=deck._id%>?_method=DELETE" method="POST">
            <button type="submit">DELETE DECK</button>
        </form>
    <% } %> -->
</div>

<div id="cardlist">
    <% deck.cards.forEach(function (c) { %> 
        <div id="card-pair">
            <div id="deck-card-front">
                front: <br> <%= c.front %>
            </div>
            <div id="deck-card-back">
                back: <br> <%= c.back %>
            </div>
            <% if (user?._id.equals(c.user)) { %>
                <div id="editlink">
                    <a href="/decks/<%=deck._id%>/cards/<%=c._id%>/edit"> Edit Card </a>
                </div>
            <% } %>
        </div>
        <br> <br>
    <% }) %>
</div>

    <% if (user?._id.equals(deck.user)) { %>

        <div id="add">
            <form action="/decks/<%=deck._id%>/cards/new" method="GET">
                <button id="addbutton" type="submit">Add New Cards</button>
            </form>
        </div>        
        <% } %>

<br><br><h2>Comments</h2>
<form id="add-deck-comment-form" method="POST"
    action="/decks/<%= deck._id %>/comments">
    <label>Comment: <br></label>
    <textarea name="content" required></textarea>
    <input type="submit" value="Add Comment">
</form>

<% if (deck.comments.length) { %> 
<div id="deck-comment">
        <% deck.comments.forEach(function(com) { %>
            <h4> <img src="<%=com.userAvatar %>" alt="avatar" referrerpolicy="no-referrer"> <%= com.userName %> </h4>
            <p> <%= com.content%></p>
            <%= com.createdAt%> 
            <div id="delete-card-comment">
                <% if (user?._id.equals(com.user)) { %>
                    <form action="/decks/<%=deck._id%>/comments/<%=com._id%>?_method=DELETE" method="POST">
                        <button type="submit">DELETE COMMENT</button>
                    </form>
                <% } %>
            </div>
        <% }) %>
<% } else { %>
    <h4>No Comments Yet</h4>
<% } %>
</div>
<!-- be sure to add a way to create comments and to edit/delete comments -->

<%- include('../partials/footer') %>